.main {
  margin-top: 0px;
}
*{
  margin: 0;
  padding: 0;
}
.products-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
  #moveit{
    display: none;
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  
  
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .movingimg{
    display: none;
  }
  #moveit{
    margin-top: 70px;
   display: block;
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
  .movingimg img{
    height: 0;
  }
  #moveit{
    margin-top: 120px;
  }
}

.product-container {
  padding: 35px 25px 25px 25px;
  border: 1.5px solid rgb(194, 194, 194);
  border-radius: 15px;
  display: flex;
  z-index: 3;
  flex-direction: column;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  font-weight: bold;
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}
.product-spacer {
  flex: 1;
}
.added-to-cart {
  position: fixed;
  right: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 5px 10px 5px 4px;
  color: rgb(6, 125, 98);
  font-size: 200%;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 13px;
  opacity: 0;
  transition: opacity 1s;
  z-index: 1000;
}

.js-add-to-cart2{
  opacity: 1;
}
.added-to-cart img {
  height: 35px;
  margin-right: 5px;
}

.add-to-cart-button {
  padding: 8px;
  border-radius: 50px;
}
